<!-- The Modal -->
<div id="image-environment-modal" class="image-environment-modal">

  <!-- The Close Button -->
  <span class="image-environment-modal-close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="image-environment-modal-content" id="image-environment-modal-img">

  <!-- Modal Caption (Image Text) -->
  <div id="image-environment-modal-caption"></div>
</div>