.modal.fade#updateWarningModal(tabindex="-1",role="dialog",aria-labelledby="updateWarningModal")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5(class="modal-title",id="updateModalLabel") 
          span.nl-text Nieuwe Versie Beschikbaar
          span.en-text New Version Available
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") &times;          
      .modal-body
          p.nl-text Er is een nieuwe versie van deze pagina. Hoe wil je verdergaan ?
          p.en-text There is a new version if this page. How do you wish to proceed ?
      .modal-footer
        button.btn.btn-secondary(type="button",data-dismiss="modal")
          | <i class="fa fa-level-down"></i>&nbsp;
          span.nl-text Blijf bij de oude versie.
          span.en-text Stay at the old version.
        a.btn.btn-primary#update-version-button(href="#")
          | <i class="fa fa-level-up"></i>&nbsp;
          span.nl-text Update naar de nieuwe versie.
          span.en-text Update to the new version.
