div.mr-1.topbar-items
  button.btn(id="xourse-implode") 
    span.nl-text Klap in
    span.en-text Fold in
div.mr-1.topbar-items
  button.btn(id="xourse-expand") 
    span.nl-text Klap uit
    span.en-text Fold out
div.mr-1.topbar-items
  input.form-control.xourse-search.nl-text(type="search",placeholder="Zoek naar...")
  input.form-control.xourse-search.en-text(type="search",placeholder="Search for...")
  span.input-group-addon
    i.fa.fa-search        
