
# node_modules is big, and presumably in/linked from the baseverver image
node_modules


# to be (re-)generated with 'npm run build'
*.min.js
*.min.js.map

# folders created/filled while running the ximeraserver
repositories
mongodb
gpg

# generated while running a ximeraserver
dump.rdb


lib-cov
ecosystem.config.js
private_key.pem
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

\#*#

pids
logs
results

*~

# public/stylesheets/base.css

npm-debug.log
components
bower_components

environment.sh
.env
