extends layouts/main

block title
  | 500

block content
  .container
    .row.d-flex.align-items-center.justify-content-around
      div.mt-5
        h1(style="font-size: 100pt;") 500
        h1.text-muted Het spijt me.
      div.mt-5
        h3 Er was een interne server error.
        p #{message}
