//- Adapted for KU Leuven
footer.bg-inverse.text-white
    .container
      .row
        .col-md-7
          p
            | Technology based on Ximera, &copy; 2013&ndash;#{new Date().getFullYear()}<span class="hidden-xs-down">, The Ohio State University &mdash; Ximera Team</span>
